In [1]:
import pandas as pd

In [6]:
train = pd.read_csv('./target/y_train.csv')
train

        wagnum       month  target_month  target_day
0        33361  2023-01-01             0           0
1        33364  2023-01-01             0           0
2        33366  2023-01-01             0           0
3        33358  2023-01-01             0           0
4        33349  2023-01-01             0           0
...        ...         ...           ...         ...
203848   25045  2022-12-01             0           0
203849   27156  2022-12-01             0           0
203850   21361  2022-12-01             0           0
203851    8061  2022-12-01             0           0
203852   33350  2022-12-01             1           0

[203853 rows x 4 columns]

In [28]:
group_train = train.groupby('wagnum')['month'].apply(list)
group_train

wagnum
0        [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
1        [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
2        [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
3        [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
4        [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
                               ...
33972    [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
33973    [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
33974    [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
33975    [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
33976    [2023-01-01, 2022-08-01, 2022-09-01, 2022-10-0...
Name: month, Length: 33977, dtype: object

In [48]:
for i in range(len(group_train)):
    if len(group_train[i]) != 6:
        print(group_train.index[i], ':', group_train[i])

8061 : ['2023-01-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01']
8099 : ['2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01']
26318 : ['2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01']
28344 : ['2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01']
33350 : ['2022-12-01']